<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>虫茧旅游管理系统</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <script src="//cdn.ckryo.com/vendors/ueditor/1.4.3.3/ueditor.config.js"></script>
    <script src="//cdn.ckryo.com/vendors/ueditor/1.4.3.3/ueditor.all.js"></script>
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>

</html>